# Análisis exploratorio

## Carga de los datos

In [6]:
import pandas as pd
from pathlib import Path
import pickle

In [7]:
dir_actual = Path('.')
if (dir_actual / 'dict_dataframes.pkl').exists():
    dataframes = pd.read_pickle('dict_dataframes.pkl')
    print('Leyendo datos de dict_dataframes.pkl')
else:
    directorio = Path('../datos')
    dataframes = {}
    for f in directorio.iterdir():
        if f.suffix == '.xlsx':
            print(f)
            xlsx = pd.ExcelFile(f)
            for sheet in xlsx.sheet_names:
                if sheet != 'WData':
                    df = xlsx.parse(sheet)
                    dataframes[str(f)+"/"+sheet] = df

../datos/Centrífuga 17825.xlsx
../datos/Biorreactor 13169.xlsx
../datos/Cinéticos IPC.xlsx
../datos/Horas inicio fin centrífugas.xlsx
../datos/Fases producción.xlsx
../datos/Centrífuga 14246.xlsx
../datos/Biorreactor 14617.xlsx
../datos/Biorreactor 13171.xlsx
../datos/Biorreactor 14614.xlsx
../datos/Biorreactor 13170.xlsx
../datos/Biorreactor 14615.xlsx
../datos/Biorreactor 14618.xlsx
../datos/Movimientos componentes.xlsx
../datos/Biorreactor 13172.xlsx
../datos/Temperaturas y humedades.xlsx
../datos/Biorreactor 14616.xlsx
../datos/OF 123456.xlsx
../datos/Fases producción_test.xlsx
../datos/Centrífuga 12912.xlsx

In [8]:
dataframes.keys()

dict_keys(['../datos/Centrífuga 17825.xlsx/Datos', '../datos/Biorreactor 13169.xlsx/Datos', '../datos/Cinéticos IPC.xlsx/Inóculos', '../datos/Cinéticos IPC.xlsx/Cultivos finales', '../datos/Cinéticos IPC.xlsx/Centrifugación', '../datos/Horas inicio fin centrífugas.xlsx/Hoja1', '../datos/Fases producción.xlsx/Preinóculo', '../datos/Fases producción.xlsx/Inóculo', '../datos/Fases producción.xlsx/Cultivo final', '../datos/Centrífuga 14246.xlsx/Datos', '../datos/Biorreactor 14617.xlsx/Datos', '../datos/Biorreactor 13171.xlsx/Datos', '../datos/Biorreactor 14614.xlsx/Datos', '../datos/Biorreactor 13170.xlsx/Datos', '../datos/Biorreactor 14615.xlsx/Datos', '../datos/Biorreactor 14618.xlsx/Datos', '../datos/Movimientos componentes.xlsx/Full1', '../datos/Biorreactor 13172.xlsx/Datos', '../datos/Temperaturas y humedades.xlsx/Datos', '../datos/Biorreactor 14616.xlsx/Datos', '../datos/OF 123456.xlsx/Sheet1', '../datos/Fases producción_test.xlsx/Cultivo final', '../datos/Centrífuga 12912.xlsx/Datos'])

In [9]:
dataframes['../datos/Fases producción.xlsx/Inóculo']

,LOTE,ID bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de cultivo,Turbidez inicio cultivo,Turbidez final culttivo,Viabilidad final cultivo
0,23019,13171,NaT,NaT,NaN,NaN,32.80,134400000
1,23020,13171,NaT,NaT,NaN,NaN,32.80,134400000
2,23021,14618,NaT,NaT,NaN,NaN,27.84,115200000
3,23022,14618,NaT,NaT,NaN,NaN,27.84,115200000
4,23023,14618,2023-03-27 07:22:00,2023-03-28 07:29:00,155.20,18.24,31.68,106400000
...,...,...,...,...,...,...,...,...
163,24101,13171,2024-06-28 07:16:00,2024-06-29 07:06:00,167.52,16.16,28.08,91200000
164,24103,13171,2024-06-28 07:16:00,2024-06-29 07:06:00,167.52,16.16,28.08,91200000
165,24104,13172,2024-07-01 07:01:00,2024-07-02 08:01:00,169.04,14.40,26.32,82400000
166,24105,13172,2024-07-01 07:01:00,2024-07-02 08:01:00,169.04,14.40,26.32,82400000
167,24108,13171,2024-07-05 07:04:00,2024-07-06 07:22:00,168.80,17.52,28.08,92800000

Ahora los guardamos en un archivo pickle para luego cargar los datos más rápido.

In [10]:
if not ((dir_actual / 'dict_dataframes.pkl').exists()):
    with open('dict_dataframes.pkl', 'wb') as f:
        pickle.dump(dataframes, f)

## Creación dataframe de exploración

In [15]:
# para limpiar los strings de los lotes y utilizar un formato común
def limpiar_string_lote(string: str) -> str:
    if ',' in string:
        string = string.replace(',', '')
    if '/' in string:
        string = string.replace('/', '')
    return string

In [24]:
dict_of = {
    'Lote' : list(map(limpiar_string_lote ,dataframes['../datos/OF 123456.xlsx/Sheet1']['Lote'].values)),
    'Cantidad entregada (L)' : dataframes['../datos/OF 123456.xlsx/Sheet1']['Cantidad entregada'].values,
}

df_of = pd.DataFrame(dict_of)
df_of

      Lote  Cantidad entregada (L)
0    23019                   13.80
1    23020                   13.60
2    23021                   13.50
3    23022                   13.80
4    23023                   13.70
..     ...                     ...
200  24108                   13.63
201  24106                   13.69
202  24107                   13.45
203  24109                   11.35
204  24110                   13.77

[205 rows x 2 columns]

In [14]:
type(dataframes['../datos/OF 123456.xlsx/Sheet1']['Cantidad entregada'].values)

numpy.ndarray