# An√°lisis exploratorio

## Carga de los datos

In [3]:
import pandas as pd
from pathlib import Path

In [6]:


directorio = Path('../datos')
dataframes = []
for f in directorio.iterdir():
    if f.suffix == '.xlsx':
        dataframes.append(pd.read_excel(f))

,2024-09-18 10:24:42.150000,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,SCADA_HIST,Unnamed: 6,Unnamed: 7,True,False,https://online.wonderware.com,Historian/v1,Unnamed: 12,5,120
0,True,NaN,NaN,NaN,NaN,SCADA_HIST_DS,NaN,NaN,1.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
1,NaN,NaN,NaN,NaN,NaN,SCADAGRQA01,NaN,NaN,1.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
2,NaN,NaN,NaN,NaN,NaN,WONDER_INSQL,NaN,NaN,0.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
3,2024-05-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN